{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Bienvenue</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light">{{ user.firstname() }}</small></h1>
           <p>Votre nom est : {{ user.lastname() }}, vous habitez à {{ user.city() }} {{ user.address() }}, votre mot de passe est  {{ user.password() }}</p>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Bienvenue</button>
          </div>
        </div>



{% endblock %}
