{% extends 'base.html.twig' %}

{% block title %}Fidelity index{% endblock %}

{% block body %}
    <h1>Fidelity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Points</th>
                <th>Category</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fidelity in fidelities %}
            <tr>
                <td>{{ fidelity.id }}</td>
                <td>{{ fidelity.name }}</td>
                <td>{{ fidelity.points }}</td>
                <td>{{ fidelity.category }}</td>
                <td>{{ fidelity.description }}</td>
                <td>{{ fidelity.image }}</td>
                <td>
                    <a href="{{ path('app_fidelity_show', {'id': fidelity.id}) }}">show</a>
                    <a href="{{ path('app_fidelity_edit', {'id': fidelity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fidelity_new') }}">Create new</a>
{% endblock %}
