{% extends 'base.html.twig' %}

{% block title %}Hello BoardController!
{% endblock %}

{% block body %}
	<main>
		<section id="zone-centrale">
			<div class="container">
				<div class="row align-items-stretch">

					{{include ("shared/_body.html.twig")}}

                    <article class="col-10 col-md-10 top-article"> <!-- zone principale droite -->
                        <div
							class="zone-centrale">
							<!-- container de toutes les listes -->
							<div
								class="bloc-liste">
								<!-- première liste de films par genre -->
								<div class="d-flex-titre">
									<img class="icone-titre-rubrique" src="/assets/icones/bobine-m.svg" alt="Icone bobine film">
									<h2 class="icone rubrique ">Mes films par genre</h2>
								</div>

								{# films by genres #}

								<div class="d-flex-slider">
                                {% for movie in recommendedMovies %}
                                
									<!-- slider film -->
									<article class="card-border film">
										<div
											class="card">
											{# <div class="tag">Aventure</div> #}
											<div class="tag">{{movie.tmdbGenre}}</div>
											<a href="">
												<img class="affiche" src="{{movie.tmdbPoster}}" alt="{{movie.name}}">
											</a>

											<div class="avis"> 
											{% for img in imgStar[movie.id] %}
                        						<img class="star" src="{{ img }}" alt="star">
                    						{% endfor %}
											</div>

											<h3>{{movie.name}}</h3>
											<p>{{movie.tmdbOverview}}</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>
										</div>
									</article>
									{% endfor %}
									{% if not recommendedMovies %}
									<h2>Veuillez renseigner vos préférences <a href="{{path('app_my_account_show')}}">Ici</a></h2>
									{% endif %}
								</div>
								<img class="d-none d-lg-inline arrow-film" src="/assets/icones/bouton-slider.svg" alt="bouton slider">
							</div>

							{# fin film by genres #}

							<div
								class="bloc-liste">
								<!-- seconde liste de films par acteurs -->
								<div class="d-flex-titre">
									<img class="icone-titre-rubrique" src="/assets/icones/bobine-m.svg" alt="Icone bobine film">
									<h2 class="rubrique ">Mes films avec acteurs préférés</h2>
								</div>
								<div
									class="d-flex-slider">
									<!-- slider film -->
									<article class="card-border film">
										<div class="card">
											<div class="tag">Joachim Phoenix</div>

											<a href="#">
												<img class="affiche" src="/assets/images/joker.jpg" alt="Jocker">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-demi.svg" alt="étoile">
											</div>
											<h3>Joker</h3>
											<p>Figure emblématique de l’ennemi juré de Batman. Il brosse le portrait
												                                                d’Arthur Fleck, un homme sans concession...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>

										</div>
									</article>
									<article class="card-border film">
										<div class="card">
											<div class="tag">Harrison Ford</div>

											<a href="#">
												<img class="affiche" src="/assets/images/indiana-jones.jpg" alt="Indiana Jones">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
											</div>
											<h3>Indiana Jones</h3>
											<p>Plus de dix ans à enseigner au Hunter College de New York,
												                                                Jones, professeur d'archéologie, est sur le point de...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>

										</div>
									</article>
									<article class="card-border film">
										<div class="card">
											<div class="tag">Brad Pitt</div>

											<a href="#">
												<img class="affiche" src="/assets/images/babylon.jpg" alt="Babylon">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
											</div>
											<h3>Babylon</h3>
											<p>Los Angeles des années 1920. Récit d’une ambition démesurée et d’excès
												                                                les plus fous...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>

										</div>
									</article>
									<article class="card-border film">
										<div class="card">
											<div class="tag">Pénéloppe Cruz</div>

											<a href="#">
												<img class="affiche" src="/assets/images/a-contre-temps.jpg" alt="A contre temps">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
											</div>
											<h3>A contre temps</h3>
											<p>Avocat aux fortes convictions sociales, Rafa a jusqu’à minuit pour
												                                                retrouver la mère d’une fillette...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>

										</div>
									</article>
								</div>

								<img class="d-none d-lg-inline arrow-film" src="/assets/icones/bouton-slider.svg" alt="bouton slider">

							</div>

							<div
								class="bloc-liste">
								<!-- troisième liste de films par réalisateurs -->
								<div class="d-flex-titre">
									<img class="icone-titre-rubrique" src="/assets/icones/bobine-m.svg" alt="Icone bobine film">
									<h2 class="icone rubrique ">Mes films avec réalisateurs préférés</h2>
								</div>
								<div
									class="d-flex-slider">
									<!-- slider film -->
									<article class="card-border film">
										<div class="card">
											<div class="tag">Tarantino</div>

											<a href="#">
												<img class="affiche" src="/assets/images/inglourious-bastard.jpg" alt="Inglorious bastard">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-demi.svg" alt="étoile">
											</div>
											<h3>Inglorious Bastard</h3>
											<p>Dans la France occupée de 1940, Shosanna Dreyfus assiste à l'exécution de
												                                                sa famille tombée entre les mains du colonel nazi...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>

										</div>
									</article>
									<article class="card-border film">
										<div class="card">
											<div class="tag">Steven Spielberg</div>

											<a href="#">
												<img class="affiche" src="/assets/images/the-fabelmans.jpg" alt="Fabelsmans">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-demi.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
											</div>
											<h3>Fabelsmans</h3>
											<p>Passionné de cinéma, Sammy Fabelman passe son temps à filmer sa famille.
												                                                S’il est encouragé dans cette voie...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>

										</div>
									</article>
									<article class="card-border film">
										<div class="card">
											<div class="tag">Ridley Scott</div>

											<a href="#">
												<img class="affiche" src="/assets/images/mort-sur-le-nil.jpg" alt="Mort sur le nil">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
											</div>
											<h3>Mort sur le Nil</h3>
											<p>Lors d’une luxueuse croisière sur le Nil, ce qui devait être une lune de
												                                                miel idyllique se conclut par la mort brutale...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>
											</a>

										</div>
									</article>
									<article class="card-border film">
										<div class="card">
											<div class="tag">Nicolas Bedos</div>

											<a href="#">
												<img class="affiche" src="/assets/images/mascarade.jpg" alt="Mascarade">
											</a>
											<div class="avis">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-pleine.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
												<img class="star" src="/assets/icones/etoile-vide.svg" alt="étoile">
											</div>
											<h3>Mascarade</h3>
											<p>Lorsqu’un jeune gigolo tombe sous le charme d’une sublime arnaqueuse,
												                                                c’est le début d’un plan machiavélique sur la Côte...
											</p>

											<a href="#" class="bouton cta">
												<img class="icone-cta" src="/assets/icones/ticket-xs.svg" alt="bouton réserver">
												<span>Réserver</span>

											</a>

										</div>
									</article>
								</div>

								<img class="d-none d-lg-inline arrow-film" src="/assets/icones/bouton-slider.svg" alt="bouton slider">

							</div>


						</div>


					</article>
					<!-- FIN ZONE CENTRALE -->
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock %}
