
<main>
        <section id="zone-centrale">
            <div class="container">
                <div class="row align-items-stretch">
                    <!-- MENU GAUCHE -->
                    <aside class="col-2 col-md-2 " id="separateur">
                        <a class="menu-gauche top-menu" href="{{path('app_board_cinema')}}">
                            <img class="icone-menu-gauche" src="../assets/icones/bobine-s.svg" alt="Icone Bobine film">
                            <span class="d-none d-lg-inline">Mes cinémas</span>
                        </a>
                        <a class="menu-gauche actif" href="{{path('app_board_film')}}">
                            <img class="icone-menu-gauche" src="../assets/icones/cine-xs.svg" alt="icone Cinéma">
                            <span class="d-none d-lg-inline">Mes films</span>
                        </a>
                        <a class="menu-gauche" href="{{path('app_board_reservation')}}">
                            <img class="icone-menu-gauche" src="../assets/icones/ticket-s.svg" alt="Icone ticket cinéma">
                            <span class="d-none d-lg-inline">Mes réservations</span>
                        </a>
                        <a class="menu-gauche" href="{{path('app_board_fidelite')}}">
                            <img class="icone-menu-gauche" src="../assets/icones/cadeau-s.svg" alt="Icone fidélité">
                            <span class="d-none d-lg-inline">Mon espace fidélité</span>
                        </a>
                        <a class="menu-gauche" href="{{path('app_my_account_index')}}">
                            <img class="icone-menu-gauche" src="../assets/icones/roue-xs.svg" alt="Icone paramètres">
                            <span class="d-none d-lg-inline">Mon profil</span>
                        </a>
                        <a class="power" id="deconnecte" href="{{path('app_user_logout')}}">
                            <img class="icone-menu-gauche" src="../assets/icones/power.svg" alt="Icone déconnexion">
                            <span class="d-none d-lg-inline">Se déconnecter</span>
                        </a>

                    </aside>
                    <!-- FIN MENU GAUCHE -->

                    <!-- SECTION CENTRALE -->
                    <article class="col-10 col-md-10 top-article"> <!-- zone principale droite -->

                        

                    </article>
                    <!-- FIN ZONE CENTRALE -->
                </div>
            </div>
        </section>
    </main>
