{% extends 'base.html.twig' %}


{% block body %}

<a href="{{path("app_user_new")}}">Nouvel utilisateur</a>


<table class="table">
    {% for user in users %}
        <tr>
 
            <td>
                    {{ user.firstname}}
            </td>
            <td>
                 {{ user.lastname}}
            </td>
                <td>
                    {{ user.address}}
                </td>
                <td>
                    {{ user.city}}
                </td>
                <td>
                {{ user.fidelityPoints}} 
            </td>
                 <td>
                 {{ user.email}}
            </td>
            <td>
 {{ user.postalCode}}
  </td>
 
 {# afficher date  #}
  <td>
    {{ user.dateOfBirth|date('d-m-Y') }} 
 </td>
  <td>
      <a href="{{ path('app_user_edit', { 'id' : user.id }) }}">Edit</a>
  </td>
   <td>
      <a href="{{ path('app_user_show', { 'id' : user.id }) }}">Show</a>
  </td>
  {# suppression #}
  <td>
    <a href="{{ path('app_user_delete', { 'id' : user.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</a>
</td>
  <td>
    
</form>

 
 </tr>

    {% endfor %}
    </table>


{% endblock %}
