{% extends 'base.html.twig' %}


{% block body %}

<a href="{{path("app_user_new")}}">Nouvel utilisateur</a>
<table class="table">
    {% for user in users %}
  <tr>
  <td>
        {{ user.firstname}}
         </td>
     <td>
         {{ user.lastname}}
          </td>
         <td>
           {{ user.address}}
            </td>
            <td>
           {{ user.city}}
            </td>
            <td>
         {{ user.fidelityPoints}} 
          </td>
          <td>
 {{ user.postalCode}}
  </td>
 
 {# afficher date  #}
  <td>
    {{ user.dateOfBirth|date('d-m-Y') }} 
 </td>
  <td>
      <a href="{{ path('app_user_edit', { 'id' : user.id }) }}">Edit</a>
  </td>
   <td>
      <a href="{{ path('app_user_show', { 'id' : user.id }) }}">Show</a>
  </td>
 </tr>

    {% endfor %}
    </table>


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/moussaillon/Desktop/projet_ugc/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/moussaillon/Desktop/projet_ugc/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
  
    </ul>

    <a href="#" id="btn-new-connection">Créer un compte</a>
</div>

{% endblock %}
