{% extends 'base.html.twig' %}


{% block body %}
    {% for user in users %}
        {{ user.firstname}}
         {{ user.lastname}}
        
           {{ user.address}}
           {{ user.city}}
         {{ user.fidelityPoints}} 
 {{ user.postalCode}}
 
 {# afficher date  #}
 {{ user.dateOfBirth|date('d-m-Y') }} 
 

    {% endfor %}


    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/moussaillon/Desktop/projet_ugc/src/Controller/UserController.php'|file_link(0) }}">src/Controller/UserController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/moussaillon/Desktop/projet_ugc/templates/user/index.html.twig'|file_link(0) }}">templates/user/index.html.twig</a></code></li>
  
    </ul>

    <a href="#" id="btn-new-connection">Créer un compte</a>
</div>

{% endblock %}
