{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
{{form_start(form)}}
<p>
{{form_label(form.firstname )}}
{{form_widget(form.firstname )}}
</p>
<p>
{{form_label(form.lastname )}}
{{form_widget(form.lastname )}}
</p>
{{form_widget(form.valid)}}

{{form_end(form, {render_rest:false})}}

{% endblock %}